
.container-fluid{
    border: 5px solid black;
}
.container{
    border: 1px solid black;
}
body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}
.fz{
    font-size: 50px;
    font-weight: 500;
}
.ff{
    font-size: 36px;
    font-weight: 500;
}
.pp{
    padding: 5px;
}
.d-flex{
    display: flex;
}
.m-auto{
    margin: auto;
}
.cc{
    width: 700px;
}